.palworld-background {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: url("../../images/palworld.png");
  background-size: cover;
  z-index: -1;
}

.palworld {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;

  color: #ffd638;
  .palworld-submit-button {
    background-color: black;
    margin: 2rem;
    position: fixed;
    bottom:0;
    right: 2rem;
    box-shadow: 10px 5px 5px rgba(127, 149, 248, 0.44);
  }
}

.palworld-title {
  background-color: black;
  padding: 2rem;
  font-size: xx-large;
  border-radius: 2em;
}

.palworld-form {
  width: 80vw;
  display: inline-grid;
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 1080px;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #151414;
  margin-top: 2rem;

  h2 {
    font-size: xxx-large;
    font-family: 'Courier New', fantasy;
    justify-self: center;
    width: 100%;
    padding: 2rem;
    background-color: #424242;
    border-radius: 0 1rem 1rem 0;
  }

  .palworld-option-section {
    background-color: #242424;
    padding: 1rem;
    border-radius: 2em;

    .radio-option-wrapper {
      margin-left: 2rem;
    }


    .accordion {
      grid-column: 1/5;

      padding: 10px;
      border-radius: 1em;

      * {
        background-color: rgba(0, 0, 0, 0.91);
        color: #ffd638;
        padding-left: 10px;
        padding-right: 10px;
      }

      .accordion-item .accordion-link {
        background-color: rgba(0, 0, 0, 0.91);

        i .accordion-icon * {
          color: #ffd638;
        }
      }

      .accordion-item .accordion-answer p {
        background-color: rgba(0, 0, 0, 0.91);
        color: #ffd638;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    .palworld-form-option {
      grid-column: 1/5;
      display: flex;
      flex-direction: row;
      min-width: 100%;
      margin-top: 2rem;

      .range-slider-container {
        justify-self: flex-start;
        margin-left: 2rem;
        width: 75%;
        min-width: 200px;
        max-width: 900px;
      }

      input[type="number"] {
        max-width: 200px;
        min-width: 60px;
        justify-self: flex-end;
        margin-left: 2rem;
      }
    }
    .palworld-form-option-text {
      width: 96%;
      margin-left: 1.6rem;
    }
  }



  .palworld-option-checkbox-section {
    background-color: #242424;
    padding: 1rem;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

    .accordion {
      padding: 10px;
      border-radius: 1em;
      width: 80%;

      * {
        background-color: rgba(0, 0, 0, 0.91);
        color: #ffd638;
        padding-left: 10px;
        padding-right: 10px;
      }

      .accordion-item .accordion-link {
        background-color: rgba(0, 0, 0, 0.91);

        i .accordion-icon * {
          color: #ffd638;
        }
      }

      .accordion-item .accordion-answer p {
        background-color: rgba(0, 0, 0, 0.91);
        color: #ffd638;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }


  }

}