.y2k-parser {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 94vh;
  align-items: center;

  * {
    max-width: 1080px;
    padding: 2rem;
  }

  h3 {
    padding: 1rem;
  }

  .basic-text-field {
    margin-top: 2rem;
    padding: 2rem;
    min-height: 20%;
  }

  .translation {
    border: #ffaf1b solid 2px;
    max-width: 1080px;
    min-height: 15vh;
    min-width: 80vw;
    max-height: 500px;
    overflow: auto;
  }
}